nav{
    box-shadow: 1px 3px 2px grey;
    height: 7vh;
    top:0px;
    right: 0px;
    left: 0px;
  
}


img{
    height: 90px;
    width: 100px;
}

.btn{

    transition-duration: 0.4s;
}

.btn:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: grey;
}