<footer class="footer-clean bg-dark">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-4 col-md-3 item">
                <h3>Services</h3>
                <ul>
                    <li><a href="#">Cheveux</a></li>
                    <li><a href="#">Shampoing et soins</a></li>
                    <li><a href="#">Barbe</a></li>
                </ul>
            </div>
            <div class="col-sm-4 col-md-3 item">
                <h3>About</h3>
                <ul>
                    <li><a href="#">Barber Shave</a></li>
                    <li><a href="#">Equipe</a></li>
                    <li><a href="#">Adresse</a></li>
                </ul>
            </div>
            <div class="col-sm-4 col-md-3 item">
                <h3>Recrutement</h3>
                <ul>
                    <li><a href="#">Coiffeur</a></li>
                    <li><a href="#">Stagiaire</a></li>
                    <li><a href="#">Apprenti</a></li>
                </ul>
            </div>
            <div class="col-lg-3 item social">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-snapchat-ghost"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <p class="copyright">Barber Shave © 2021</p>
            </div>
        </div>
    </div>
</footer>